*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.container{
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
}

header{
    grid-area: header;
    background-color: rgb(26, 26, 94);
}
h1{
    color: rgb(198, 198, 255);
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(157, 157, 255);
}

form{
    display: flex;
    margin: 15px;
    padding: 15px;
    flex-direction: column;
    }

input{
    margin: 8px;
    padding: 8px;
    border-radius: 8px 0px;
}


footer{
    grid-area: footer;
    background-color: rgb(26, 26, 94);
    color: rgb(198, 198, 255);
}
h2{
    color: rgb(198, 198, 255);
}