*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

body{
    font-family: "Truculenta", sans-serif;
    background:linear-gradient(to right, rgb(139, 207, 252), rgb(1, 148, 173));
}

h1{
    color: rgb(255, 94, 0);
}

img{
    width:150px
}

h2{
    padding-top: 20;
    color: rgb(255, 94, 0);
}

p{
    margin: 20;
    font-family: "Eczar", serif;
    font-weight: 600;
    color: rgb(20, 0, 70);
}
